/**/
.emptyBox{position:absolute;width:400px;height:400px;margin:240px auto 0;background:url('../Img/empty_box.png') center 0 no-repeat;
background-size:auto 240px;padding-top:300px; text-align: center;box-sizing: border-box;
left:50%;margin-left:-200px;top:50%;margin-top:-240px;
}
.emptyBox p{color: #999999;font-size:30px;}
