#lotteryResults {
}
/*tab nav*/
#lotteryResults .am-tabs-bar .am-tabs-tab-active.am-tabs-tab {
  color: #FC5A3D;
}

#lotteryResults .am-tabs-ink-bar {
  background-color: #FC5A3D;
}

#lotteryResults .am-tabs-bar .am-tabs-tab {
  color: #525252;
}

#lotteryResults .am-navbar {
  background-color: #FC5638;
}

#lotteryResults .am-icon-md {
  width: 72px;
  height: 136px;
}

#lotteryResults .am-navbar-title {
  font-size: 36px;
}

#lotteryResults .am-navbar-left {
  padding-left: 0;
  overflow: hidden;
  margin-right: 10px;
}

#lotteryResults .navHomeSpan {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../../Img/navHomeIcon.png') 0 0 no-repeat;
  background-size: 50px auto;
}

/*list*/
#lotteryResults .lotteryA {
  display: block;
  border-bottom: 1PX solid #eee;
  font-size: 30px;
  box-sizing: border-box;
  padding: 30px 0 32px 30px;
  background: url(../../Img/Find/arrowIcon.png) 97% center no-repeat #fff;
  background-size: 26px 26px;
}

#lotteryResults .lotteryA.arrowNo {
  background: #fff;
}

#lotteryResults .lotteryA .p1 {
  margin-bottom: 20px;
}

#lotteryResults .lotteryA .p1 .span1 {
  color: #191919;
  font-size: 32px;
}

#lotteryResults .lotteryA .p1 .span2 {
  color: #999999;
  margin-left: 20px;
  font-size: 26px;
}

#lotteryResults .lotteryA .p2 .ballSpan {
  display: inline-block;
  width: 58px;
  height: 58px;
  border-radius: 58px;
  color: #FFFFFF;
  text-align: center;
  line-height: 58px;
  margin-right: 16px;
}

#lotteryResults .lotteryA .p2 .ballSpan.redColor {
  color: #F22F12;
}

#lotteryResults .lotteryA .p2 .ballSpan.ballRed {
  background: #F22F12;
}

#lotteryResults .lotteryA .p2 .ballSpan.ballBlue {
  background: #2395FF;
}

#lotteryResults .lotteryA .p2 .ballSpan.redColor {
  color: #F22F12;
}

#lotteryResults .lotteryA .p2 .ballSpan.blueColor {
  color: #2395FF;
}

#lotteryResults .lotteryA .p2 .span3 {
  display: inline-block;
  font-size: 26px;
  color: #525252;
  margin-left: 30px;
  line-height: 58px;
}

/**/
#lotteryResults .lotteryA .p2 .iconSpan {
  display: inline-block;
  width: 58px;
  height: 58px;
  margin-right: 20px;
  vertical-align: top;
  text-align: center;
  color: #F22F12;
  line-height: 58px;
}

.iconSpan_1 {
  background: url("../../Img/Find/redIcon_1.png") 0 0 no-repeat;
  background-size: 58px 58px;
}

.iconSpan_2 {
  background: url("../../Img/Find/BlackIcon_2.png") 0 0 no-repeat;
  background-size: 58px 58px;
}

.iconSpan_3 {
  background: url("../../Img/Find/BlackIcon_3.png") 0 0 no-repeat;
  background-size: 58px 58px;
}

.iconSpan_4 {
  background: url("../../Img/Find/redIcon_4.png") 0 0 no-repeat;
  background-size: 58px 58px;
}

.iconSpan_5 {
  background: url("../../Img/Find/BlackIcon_5.png") 0 0 no-repeat;
  background-size: 58px 58px;
}

.iconSpan_6 {
  background: url("../../Img/Find/BlackIcon_6.png") 0 0 no-repeat;
  background-size: 58px 58px;
}

/* 开奖号码 数字彩 开奖 */
#lotteryResults .lotteryB {
  border-bottom: 1PX solid #eee;
  font-size: 30px;
  box-sizing: border-box;
  padding: 30px 0 32px 30px;
  background-size: 26px 26px;
  color: #000;
  height: 349px;
}

#lotteryResults .lotteryB .p1 .span1 {
  color: #000;
  font-size: 32px;
  margin-left: 8px;
}

#lotteryResults .lotteryB .div12 {
  height: 241px;
  margin-top: 17px;
}

#lotteryResults .lotteryB .div12 .divImg {
  width: 334px;
  height: 192px;
  position: relative;
}

#lotteryResults .lotteryB .div12 .divMark {
  height: 100%;
  background: #000;
  opacity: 0.7;
  position: relative;
  z-index: 100;
  border-radius: 6px;
}

#lotteryResults .lotteryB .div12 img {
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: 6px;
}

#lotteryResults .lotteryB .div12 .div1 {
  float: left;
}

#lotteryResults .lotteryB .div12 .div2 {
  float: right;
  margin-right: 30px;
}

#lotteryResults .lotteryB .div12 .divbtn {
  background: url("../../Img/Find/play@3x.png") center no-repeat;
  background-size: 58px 58px;
  position: absolute;
  width: 100%;
  z-index: 111;
  height: 100%;
  top: 0;
}

#lotteryResults .lotteryB .div12 .divbtn span {
  color: #fff;
  font-size: 22px;
  margin: 15px 0px 0px 10px;
  display: block;
}

#lotteryResults .lotteryB .div12 .divFont {
  font-size: 28px;
  margin-top: 16px;
  color: #333;
}

/**/
#lotteryResults .lotteryA .p3 {
  margin-top: 25px;
  color: #555;
  line-height: 40px;
}

#lotteryResults .lotteryA .p3 .redColor {
  color: #dd4a4a;
}

#lotteryResults .lotteryA .p3 .greenColor {
  color: #11B67A;
}

#lotteryResults .lotteryA .p3 .blueColor {
  color: #3596ff;
}

#lotteryResults .lotteryA .p2 .greenSpan {
  display: inline-block;
  width: 30px;
  height: 48px;
  border-radius: 8px;
  background: #51A91C;
  margin-right: 10px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}

#lotteryResults .lotteryA .p2 .greenColor {
  display: inline-block;
  width: 30px;
  height: 48px;
  border-radius: 8px;
  margin-right: 10px;
  line-height: 50px;
  text-align: center;
  color: #51A91C;
}

/*开奖结果 详情*/
#lotteryResults .lotteryA .p1 .span4 {
  color: #999999;
  margin-left: 40px;
  font-size: 26px;
}

#lotteryResults .lotteryA .p1 .span13 {
  color: #999999;
  margin-left: 40px;
  font-size: 30px;
}

/*竞彩篮球*/
.lanqiuTime {
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background-color: #F5F4F9;
  color: #737373;
  font-size: 26px;
}

.lanqiuBox {
  box-sizing: border-box;
  padding: 0 33px;
  background: #fff;
}

.lanqiuBox .box1 {
  border-bottom: 1PX solid #eee;
  padding-top: 20px;
  padding-bottom: 40px;
}
.lanqiuBox .box3 {
  border-bottom: 1PX solid #eee;
  padding-top: 20px;
  padding-bottom: 30px;
}

.lanqiuBox .p13 {
  position: relative;
  color: #737373;
  font-size: 26px;
}

.lanqiuBox .p13 .span12 {
  position: absolute;
  top: 0;
  right: 0;
  color: #737373;
  font-size: 26px;
}

.lanqiuBox .p14 {
  height: 57px;
  margin: 20px 0;
  line-height: 57px;
  text-align: center;
}
.lanqiuBox .p20 {
  height: 57px;
  margin: 20px 0 5px;
  line-height: 57px;
  text-align: center;
}
.lanqiuBox .p21 {
  width:130px;padding:9px 0 7px;text-align: center;color:#fff;font-size: 24px;
  border-radius: 4px;background: #FC5638;margin:0 auto;
}
.lanqiuBox .span5 {
  display: inline-block;
  font-size: 32px;
  color: #191919;
  text-align: right;
  width: 165px;
}

.lanqiuBox .span6 {
  display: inline-block;
  padding-left: 30px;
  width: 60px;
}

.lanqiuBox .span6 img {
  max-width: 60px;
  width: auto;
  height: 57px;
  vertical-align: top;
}

.lanqiuBox .span7 {
  display: inline-block;
  width: 150px;
  padding: 0 10px;
  text-align: center;
  color: #191919;
  font-size: 34px;
  font-weight: bold;
}

.lanqiuBox .span8 {
  display: inline-block;
  padding-right: 30px;
  width: 60px;
}

.lanqiuBox .span8 img {
  max-width: 60px;
  width: auto;
  height: 57px;
  vertical-align: top;
}

.lanqiuBox .span9 {
  display: inline-block;
  font-size: 32px;
  color: #191919;
  text-align: left;
  width: 165px;
}

.lanqiuUl {
  position: relative;
  overflow: hidden;
  border: 1PX solid #e0e0e0;
  text-align: center;
}

.lanqiuUl li {
  float: left;
  height: 55px;
  line-height: 55px;
}

.lanqiuUl .lanqiuUl_li1 {
  width: 10%;
  font-size: 20px;
}

.lanqiuUl .lanqiuUl_li1.grayBg {
  background: #E8E8EA;
}

.lanqiuUl .lanqiuUl_li1.greenBg {
  background: #03B171;
  color: #fff;
}

.lanqiuUl .lanqiuUl_li1.redBg {
  background: #DD4A4A;
  color: #fff;
}

.lanqiuUl .lanqiuUl_li2 {
  width: 45%;
  font-size: 24px;
}

.lanqiuUl .lanqiuUl_li3 {
  width: 30%;
  font-size: 24px;
}

.lanqiuUl .lanqiuUl_li2 .span10, .lanqiuUl .lanqiuUl_li3 .span10 {
  color: #525252;
  padding-right: 20px;
}

.lanqiuUl .lanqiuUl_li2 .span11, .lanqiuUl .lanqiuUl_li3 .span11 {
  display: inline-block;
  width: 75px;
  height: 33px;
  line-height: 33px;
  vertical-align: middle;
  color: #737373;
  text-align: center;
}
.lanqiuUl .lanqiuUl_li4{width:100%;text-align: center;color:#737373;font-size: 24px;}
.lanqiuUl .blueColor .span10 {
  color: #2395FF;
}

.lanqiuUl .blueColor .span11 {
  background: #2395FF;
  border-radius: 100px;
  color: #fff;
}

.lanqiuUl .redColor .span10 {
  color: #FC5638;
}

.lanqiuUl .redColor .span11 {
  background: #FC5638;
  border-radius: 100px;
  color: #fff;
}

.lanqiuUl .yellowColor .span10 {
  color: #FFB10D;
}

.lanqiuUl .yellowColor .span11 {
  background: #FFB10D;
  border-radius: 100px;
  color: #fff;
}

.lanqiuUl .line_b {
  border-bottom: 1PX solid #eee;
  box-sizing: border-box;
}

.lanqiuUl .line_r {
  border-right: 1PX solid #eee;
  box-sizing: border-box;
}

/*胜负彩详情*/
#lotteryResults .whiteBg {
  background: #fff;
}

#lotteryResults .margin_t30 {
  margin-top: 30px;
}

#lotteryResults div.lotteryA {
  display: block;
  border-bottom: 1PX solid #eee;
  font-size: 30px;
  box-sizing: border-box;
  padding: 40px 0 32px 40px;
  background: url(../../Img/Find/arrowIcon.png) 97% center no-repeat #fff;
  background-size: 26px 26px;
}
#lotteryResults div.lotteryA.noArrow{background: #fff;}

#lotteryResults div.lotteryA .p1 {
  position: relative;
}

#lotteryResults .lotteryA .moreA {
  position: absolute;
  top: 0;
  right: 30px;
  color: #2395FF;
  font-size: 26px;
}

#lotteryResults .div10 {
  width: 100%;
  height: 80px;
  border-bottom: 1PX solid #eee;
  margin-top: 30px;
  box-sizing: border-box;
  padding-left: 30px;
  line-height: 80px;
  color: #191919;
  font-size: 32px;
}

#lotteryResults .div11 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 150px;
  box-shadow: 0 4px 6px 0 #EAEAEA;
  text-align: center;
}

#lotteryResults .div11 div {
  float: left;
  width: 50%;
}

#lotteryResults .div11 p.p15 {
  color: #F22F12;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 5px;
}

#lotteryResults .div11 p.p15 span {
  font-size: 56px;
}

#lotteryResults .div11 p.p16 {
  color: #C0C0C0;
  font-size: 26px;
}

#lotteryResults .jiangUl {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 28px;
  color: #999;
}

#lotteryResults .jiangUl li, #lotteryResults .jiangUl2 li {
  float: left;
  width: 33%;
}

#lotteryResults .jiangUl2, #lotteryResults .jiangUl4 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 28px;
  color: #525252;
  background: #FBFBFB;
}

#lotteryResults .jiangUl2 li span.redColor {
  color: #F22F12;
}

#lotteryResults ul.jiangUl2:nth-child(2n), #lotteryResults ul.jiangUl4:nth-child(2n), #lotteryResults .jiangUl5:nth-child(2n) {
  background: #fff;
}

#lotteryResults ul.jiangUl3 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-size: 26px;
  color: #999;
}

#lotteryResults ul.jiangUl3 li, #lotteryResults ul.jiangUl4 li {
  float: left;
  width: 16%;
}

#lotteryResults ul.jiangUl3 li.li1, #lotteryResults ul.jiangUl4 li.li1 {
  width: 26%;
}

#lotteryResults ul.jiangUl4 li span.greenBg {
  color: #FFFFFF;
  background: #51A91C;
  border-radius: 4px;
  height: 36px;
  line-height: 38px;
  text-align: center;
  display: inline-block;
  width: 70%;
}

/**/
#lotteryResults .jiangUl5 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 140px;
  line-height: 140px;
  text-align: center;
  font-size: 28px;
  color: #525252;
  background: #FBFBFB;
}
#lotteryResults .jiangUl7{position: relative;
  overflow: hidden;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 28px;
  color: #525252;}
#lotteryResults .jiangUl5 li, #lotteryResults .jiangUl6.jiangUl li, #lotteryResults .jiangUl7 li {
  float: left;
  width: 30%;
}

#lotteryResults .jiangUl5 li.li1, #lotteryResults .jiangUl6.jiangUl li.li1, #lotteryResults .jiangUl7 li.li1 {
  width: 40%;
}

#lotteryResults .jiangUl5 li span,#lotteryResults .jiangUl7 li span {
  display: block;
  width: 100%;
  height: 70px;
  line-height: 70px;
}

#lotteryResults .jiangUl5 li span.span14,#lotteryResults .jiangUl7 li span.span14 {
  width: 50%;
  float: left;
}

#lotteryResults .jiangUl5 li span.span15{
  width: 50%;
  float: left;
  height: 140px;
  line-height: 140px;
}
#lotteryResults .jiangUl7 li span.span15 {
  width: 50%;
  float: left;
  height: 70px;
  line-height: 70px;
}
/*福彩3D*/

/*tips*/
.questionTips {
  position: fixed;
  right: 26px;
  z-index: 99;
}

.questionTips img {
  width: auto;
  height: 65px;
}

/*empty*/
.lotteryEmpty {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #f1f6f8;
  color: #737373;
  font-size: 26px;
}

/*比赛*/
.lanqiuBox .box2 {
  border-bottom: 1PX solid #eee;
  padding-top: 20px;
  padding-bottom: 0;
}

.lanqiuBox .p17 {
  height: 57px;
  margin: 0;
  line-height: 57px;
  text-align: center;
  position: relative;
  top: -10px;
}

.lanqiuBox .p18 {
  position: relative;
  text-align: center;
  top: -20px;
}

.lanqiuBox .p18 span.span5, .lanqiuBox .p18 span.span9 {
  color: #C7C7C7;
  font-size: 20px;
}

.lanqiuBox .p19 {
  position: relative;
  top: -10px;
  height: 36px;
  line-height: 36px;
  color: #737373;
  text-align: center;
}

.lanqiuBox .p19 span {
  position: relative;
  font-size: 22px;
}

.lanqiuBox .p19 span i {
  position: relative;
  display:inline-block;
  top:-5px;
  left:-8px;
  width:10px;
  height:10px;
  border-radius:10px;
  background: #EE324E;
  margin-right:0;
  -webkit-animation: breathe 1s ease infinite;
  -moz-animation: breathe 1s ease infinite;
  -ms-animation: breathe 1s ease infinite;
  -o-animation: breathe 1s ease infinite;
  animation: breathe 1s ease infinite;
}
@-webkit-keyframes breathe{
  0% {opacity:1;}
  50%{opacity:0.2;}
  100%{opacity:1;}
}
@-moz-keyframes breathe{
  0% {opacity:1;}
  50%{opacity:0.2;}
  100%{opacity:1;}
}
@-ms-keyframes breathe{
  0% {opacity:1;}
  50%{opacity:0.2;}
  100%{opacity:1;}
}
@-o-keyframes breathe{
  0% {opacity:1;}
  50%{opacity:0.2;}
  100%{opacity:1;}
}
@keyframes breathe{
  0% {opacity:1;}
  50% {opacity:0.2;}
  100% {opacity:1;}
}

.lanqiuBox .span7.colorRed {
  color: #dd4a4a
}

.noticeImg {
  display: block;
  width: auto;
  height: 40px;
  margin: 0 auto;
}







